@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

// Mixin
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Colours
$body-bg: #D2C2AC;
$body-text: #321411;
$progress-bar: #5C6D5F;
$box-shadow: #5c5c5c;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-bg;
    color: $body-text;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.progress-bar {
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: relative;
    &__exterior {
        @include flex-center;
        width: 150px;
        height: 150px;
        // border: 3px solid $body-text;
        border: 2px solid $body-text;
        border-radius: 50%;
        box-shadow: 2px 2px 5px $box-shadow;
    }
    &__interior {
        @include flex-center;
        width: 130px;
        height: 130px;
        // border: 3px solid $body-text;
        border: 2px solid $body-text;
        border-radius: 50%;
    }
    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
        stroke: $progress-bar;
        // stroke-width: 8px;
        stroke-width: 4px;
        stroke-dasharray: 433;
        stroke-linecap: round;
        width: 150px;
        height: 150px;
        transform: rotate(-90deg); // needs to be rotated to start clockwise
    }
    &__value {
        font-size: 26px;
    }
    &__percentage {
        font-size: 16px;
    }
}